<header class="site-header hidden-print">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="navbar-brand-title">{{ site.title }}<span class="hidden-xs hidden-sm"> / {{ site.subtitle }}</span></span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right">
          {% for node in site.data.pages %}
            {% if node.links or node.collection %}
              <li class="dropdown{% if page.url == node.url %} active"{% endif %}">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="{{ node.icon }}" aria-hidden="true"></span>
                <span class="dropdown-toggle-title">{{ node.title }}</span>
                <span class="caret"></span>
              </a>
                <ul class="dropdown-menu">

                {% if node.links %}
                  {% for link in node.links %}
                    <li>
                      <a href="{{ link.url | prepend: site.baseurl }}">
                        <span class="{{ link.icon }}" aria-hidden="true"></span>
                        {{ link.title }}
                      </a>
                    </li>
                  {% if link.separator %}<li role="separator" class="divider"></li>{% endif %}
                  {% endfor %}
                {% endif %}

                {% if node.collection %}
                  {% assign collection = node.collection %}
                  {% for link in site.collections.[collection].docs %}
                     <li><a href="{{ link.url | prepend: site.baseurl }}">{{ link.short_title }}</a></li>
                  {% endfor %}
                {% endif %}

                </ul>
              </li>

            {% else %}
              <li{% if page.url == node.url %} class="active"{% endif %}>
                <a href="{{ node.url | prepend: site.baseurl }}">
                  <span class="{{ node.icon }}" aria-hidden="true"></span>
                  <span class="dropdown-toggle-title">{{ node.title }}</span>
                </a>
              </li>
            {% endif %}

          {% endfor %}

        </ul>

      </div>
    </div>
  </nav>

  <div class="site-image">
    <img src="/images/bigbluehouse-lg.jpg" title="The Big Blue House" class="img-responsive hidden-xs" />
    <img src="/images/bigbluehouse-sm.jpg" title="The Big Blue House" class="img-responsive visible-xs-block" />
  </div>

</header>
